* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    text-decoration: none;
}

:root {
    --primary-color: #911DDE;
    --second-color: #7018AB;
    --third-color: #500980;
    --light-primary-color: #FFF;
    --light-second-color: #F7EFFC;
    --light-third-color: #E5BFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

body {
    background-color: var(--primary-color);
}

nav img {
    width: 30px;
}

nav {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.gambar {
    position: absolute;
    left: 12px;
}

nav span {
    text-align: center;
}

section {
    background-color: var(--light-primary-color);
    border-radius: 30px 30px 0 0;
    margin-top: 10px;
    padding: 12px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

form {
    background-color: var(--light-second-color);
    height: max-content;
    margin-top: 30px;
}

form .form-satu {
    background-color: var(--primary-color);
    padding: 12px 20px;
}

form input {
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    color: var(--primary-color);
}

form .form-dua {
    padding: 20px;
}

textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid white;
    resize: none;
}

textarea,
form .form-dua input {
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

form .form-dua input {
    margin-top: 30px;
}

form .form-dua input.tanggal {
    margin: 0;
}

form .form-dua .nominal-input {
    background-color: var(--light-third-color);
    display: flex;
    align-items: center;
    padding: 12px;
    color: var(--third-color);
    font-weight: bold;
}

form .form-dua .nominal-input input {
    margin-top: 0;
    border: none;
    text-align: right;
    font-weight: bold;
    color: var(--third-color);
}

.total {
    display: flex;
    color: black;
    padding: 12px;
    align-items: center;
}

.total .total-number {
    flex: 1;
    margin-left: 10px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    border-top: 1px solid var(--third-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button button {
    padding: 7px 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.button a {
    margin-right: 20px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 20px;
}

.button a:hover {
    background-color: var(--primary-color);
    color: white;
}